*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.list{
  margin-top: 50px;
}
.list input{
  padding: 20px 50px;
  width: 70%;
  border-color: #638889;
}
button{
  border: none;
  /* margin-top: 50px; */
  margin: 50px 10px 5px;
  padding: 15px 40px;
  background-color: #638889;
}
.add_btn input{
  padding: 12px 50px;
  width: 30%;
  border-color: #638889;
}
input:focus{
  border: 4px solid #638889;
}